.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
  }
  
  .logoContainer {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }
  
  .logo {
    width: 100px;
    height: auto;
  }
  
